* {
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.card-container {
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
}

.card {
    width: 325px;
    background-color: #000;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

.card img {
    display: block;
    width: 90%;
    height: 10vw;
    margin: auto;
    padding-bottom: 20px;
}

.card-content h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 1px;
    padding-left: 15px;
}