*{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 700px;
}

th, td {
    padding: 8px;
    text-align: left;
}

.bar {
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
}