* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    table-layout: fixed;
    width: 20%;
    text-align: center;
}

th,
td {
    padding: 8px;
}

td {
    border: black 1px solid;
}

.not {
    background-color: #b0c4de;
    color: red;
}