* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

img {
    width: 100%;
    height: auto;
}

.left {
    /* background-color: #2196F3; */
    float: left;
    width: 32%;
}

.main {
    /* background-color: white; */
    padding: 20px;
    float: left;
    width: 32%;
}

.right {
    /* background-color: #4CAF50; */
    padding: 20px;
    float: left;
    width: 32%;
}

.card {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    border-radius: 5px;
}

@media screen and (max-width:1000px) {

    .left,
    .main {
        width: 46%;
        background-color: white;
    }

    .right {
        width: 100%;
        background-color: white;
    }
}

@media screen and (max-width:700px) {

    .left,
    .main,
    .right {
        width: 100%;
    }
}