*{
    font-family: 'Roboto';
}

img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 20px;
}

.card h1 {
    display: block;
    margin-top: auto;
    padding-top: 15px;
    text-align: center;
}