* {
    margin: auto;
}

h1 {
    text-align: center;
    margin: 20px;
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

table,
tr,
th,
td {
    padding: 8px;
    border: black 1px solid;
    border-collapse: collapse;
}

table{
    width: 20%;
}

th {
    background-color: #f2f2f2;
}