table,
tr{
    border: lightgray 1px solid;
    border-collapse: collapse;
    width: 100%;
}

th,td{
    text-align: left;
    padding: 10px;
}

th{
    background-color: #0984e3;
    color: white;
}

tr:nth-child(odd){
    background-color: whitesmoke;
}

.female {
    background-color: salmon;
    border-radius: 40%;
    width: 15%;
    text-align: center;
}

.male{
    background-color: skyblue;
    border-radius: 40%;
    width: 15%;
    text-align: center;
}

.bar-container {
    padding: 10px;
    vertical-align: middle;
}

.progress-bg {
    background-color: #f0f0f0;
    border-radius: 20px;
    height: 25px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    background-color: #28a745;
    height: 100%;
    border-radius: 20px;
    transition: width 0.5s ease-in-out;
}