<!-- home.ejs -->
<!doctype html>
<html lang="en">

<%- include("head.ejs") %>
<link rel="stylesheet" href="css/home.css">

    <body>
        <!-- heaher -->
        <%- include("header.ejs") %>
            <!-- Content -->

            <!-- footer -->
            <%- include("footer.ejs") %>

    </body>

</html>