
/* p{
    background-color: lightgoldenrodyellow;
    padding: 15px;
    border-radius: 10%;
} */

img{
    width: 45%;
}

.b1{
    border: 10px solid lightblue;
}

.b2{
    border: 10px solid lightsalmon;
}